<section id="viewMe">
    <div class="content">
        <div class="chirper">

            <h2 class="titlebar">{{username}}</h2>

            <form id="formSubmitChirpMy" class="chirp-form" action="#/create" method="post">
                <textarea name="text" class="chirp-input"></textarea>
                <input class="chirp-submit" id="btnSubmitChirpMy" value="Chirp" type="submit">
            </form>

            <div id="myStats" class="user-details">
                <span>{{stats.chirps}} chirps</span> | <span>{{stats.following}} following</span> | <span>{{stats.followers}} followers</span>
            </div>
        </div>
        <div id="myChirps" class="chirps">
            <h2 class="titlebar">Chirps</h2>

            {{#each chirps}}

                <article class="chirp">
                    <div class="titlebar">
                        <a href="#/feed/{{author}}" class="chirp-author">{{author}}</a>

                        <span class="chirp-time">
                            {{#if isAuthor}}
                                <a href="#/delete/{{_id}}">delete</a>
                            {{/if}}
                            {{time}}
                        </span>
                    </div>
                    <p>{{text}}</p>
                </article>

            {{else}}

                <div class="chirp"><span class="loading">No chirps in database</span></div>

            {{/each}}

        </div>
    </div>
</section>